
body{
    background-color: rgb(255, 255 ,255);
}

#submit{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 25px;
    font-size: 200%;
    border-color: rgba(230, 4, 4, 0.916);
    font-family: sans-serif;
    position: left;
}
#submit:hover{
    background-color: rgb(189, 3, 3);
    color: rgb(179, 179, 179);
}


